<div class="box-about">
    <img
      class="img-fluid"
      src="../../../../assets/images/others/step_three.png"
      alt=""
    />
  <p>
    Aproveite nosso app, faça o seu cadastro o mais completo possível, para facilitar as trocas de informações entre quem doa e quem precisa. 
    Não tenha vergonha de expressar sua real necessidade, não tenha limitações para ajudar o próximo. 
    Ficaremos felizes com o seu feedback em relação ao uso do nosso app, fazer melhorias para o seu conforto é nossa prioridade e missão. 
    Muito obrigada por usar nossa plataforma, indique aos seus próximos e vamos juntos ajudar uns aos outros. 
  </p>
  <div *ngIf="!(authService.hasAuth$ | async)" class="box-button">
    <button routerLink="/auth/step-two" mat-raised-button>
      <span>VOLTAR</span>
    </button>

    <button routerLink="/auth/login" mat-raised-button>
      <span>SAIR</span>
    </button>
  </div>
</div>
