.box {
  padding: 20px;

  .title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .form-group {
    label {
      margin-bottom: 8px;
    }

    input {
      height: 50px;
    }

    select {
      height: 50px;
    }

    margin-bottom: 10px;
  }

  &-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &-msgError {
      text-align: center;
      color: #dc3545;
      font-size: 0.875em;
      margin-bottom: 5px;
    }

    button {
      background-color: #6a8d4a;
      border-radius: 10px;
      height: 40px;
      color: white;
      width: 50%;
    }

    &-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 35px;

      a {
        color: #999999;
        text-decoration: none;
        margin-bottom: 12px;
        font-weight: 500;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
    }
  }
}

.btn-disabled {
  background-color: #9999997e !important;
}
