<div class="box">
  <div class="box-logo">
    <img
      class="img-fluid"
      src="../../../../../assets/images/logo/logo.png"
      alt=""
    />
  </div>
  <h3 class="title">Cadastro</h3>
  <form [formGroup]="formRegister" (ngSubmit)="register()">
    <div class="form-group">
      <input
        formControlName="fullName"
        autocomplete="off"
        placeholder="Digite seu nome"
        type="text"
        class="form-control"
        id="fullname"
        [ngClass]="{
          'is-invalid': formRegister.controls.fullName.errors,
          'is-valid': !formRegister.controls.fullName.errors
        }"
      />
      <div
        *ngIf="formRegister.controls?.fullName?.errors"
        class="invalid-feedback"
      >
        Por favor, digite seu <strong>Nome Completo.</strong>
      </div>
    </div>

    <div class="form-group">
      <input
        formControlName="fullName"
        autocomplete="off"
        placeholder="Digite seu telefone"
        type="text"
        class="form-control"
        id="fullname"
        [ngClass]="{
          'is-invalid': formRegister.controls.fullName.errors,
          'is-valid': !formRegister.controls.fullName.errors
        }"
      />
      <div
        *ngIf="formRegister.controls?.fullName?.errors"
        class="invalid-feedback"
      >
        Por favor, digite seu <strong>Telefone.</strong>
      </div>
    </div>


    <div class="form-group has-error">
      <select class="form-control "  [ngClass]="{
        'is-invalid': formRegister.controls.email.errors,
        'is-valid': !formRegister.controls.email.errors
      }">
        <option>Empresa</option>
        <option>Ong</option>
        <option>Pessoa Fisica</option>
      </select>
      <div
        *ngIf="formRegister.controls?.fullName?.errors"
        class="invalid-feedback"
      >
        Por favor, selecione uma <strong>Opção.</strong>
      </div>
    </div>
    
    <div class="form-group has-error">
      <input
        formControlName="email"
        autocomplete="off"
        placeholder="Digite seu e-mail"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        [ngClass]="{
          'is-invalid': formRegister.controls.email.errors,
          'is-valid': !formRegister.controls.email.errors
        }"
      />
      <div class="invalid-feedback">Por favor, digite seu e-mail.</div>
    </div>
    <div class="form-group">
      <input
        formControlName="pwd"
        autocomplete="off"
        placeholder="Digite sua senha"
        type="password"
        class="form-control"
        id="password"
        [ngClass]="{
          'is-invalid': formRegister.controls.pwd.errors,
          'is-valid': !formRegister.controls.pwd.errors
        }"
      />
      <div *ngIf="formRegister.controls?.pwd?.errors" class="invalid-feedback">
        Por favor, forneça uma senha válida (6-12 caracteres).
      </div>
    </div>

   

    <div class="box-buttons">
      <button
        [ngClass]="{ 'btn-disabled': formRegister.invalid }"
        [disabled]="formRegister.invalid"
        type="submit"
        mat-raised-button
      >
        CADASTRAR
      </button>
      <div class="box-buttons-links">
        <a routerLink="/auth/login">Já possui cadastro?</a>
      </div>
    </div>
  </form>
</div>
