<div class="box">
  <div class="box-logo" routerLink="">
    <img
      class="img-fluid"
      src="../../../../../assets/images/logo/logo.png"
      alt=""
    />
  </div>
  <h3 class="title">Entrar</h3>
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="form-group has-error">
      <input
        placeholder="Digite seu e-mail"
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': formLogin.controls.email.errors,
          'is-valid': !formLogin.controls.email.errors
        }"
      />
      <div *ngIf="formLogin.controls?.email?.errors" class="invalid-feedback">
        Por favor, forneça um email válido.
      </div>
    </div>
    <div class="form-group">
      <input
        placeholder="Digite sua senha"
        formControlName="pwd"
        type="password"
        class="form-control"
        id="password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': formLogin.controls.pwd.errors,
          'is-valid': !formLogin.controls.pwd.errors
        }"
      />
      <div *ngIf="formLogin.controls?.pwd?.errors" class="invalid-feedback">
        Por favor, forneça uma senha válida (6-12 caracteres).
      </div>

      <div class="forgot">
        <a routerLink="/auth/reset">Esqueceu a senha?</a>
      </div>

    </div>

    <!-- [ngClass]="{ 'btn-disabled': formLogin.invalid }"
        [disabled]="formLogin.invalid" -->

    <div class="box-buttons">
      <button
        type="submit"
        mat-raised-button
        (onclick)="login()"
      >
        <a style="text-decoration: none; color: #FFF;">ACESSAR</a>
      </button>
      <div class="box-buttons-links">
        <a routerLink="/auth/register">Não possui cadastro?</a>
      </div>
    </div>
  </form>

  
</div>
