header {
    display: inline-flex;
    background-color: #a6bf4d;
    padding: 0.6rem;
    width: 100%;
    height: 7%;
}

header>span{
    height: 2rem;
    &:first-child,
    &:last-child{
    flex: 10%;
    }
}

.icon-header {
    color: #fff;
    padding: 0.6rem;
}

.middle{
    flex: 80%;
}

.headerTitle {
    text-align: center;
    color: #FFF;
}

h1 {
    font-size: 2rem;
}

.container {
    padding: 30px;

}

h2 {
    text-align: center;
    color: #646464;
    font-size: 1.3rem;
}

main {
    padding: 1rem 2rem 0.5rem ;
}


menu {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


button {
    max-width: 47%;
    margin: 0.2rem;
    &:hover {
        background-color: rgba(166, 191, 77, 0.295);
    }
}

p {
    align-self: center;
}
