<header>
  <span class="material-icons icon-header" (click)="openChoiceModal()">
    logout
  </span>
  <span class="middle">
    <h1 class="headerTitle">{{ titleNav }}</h1>
  </span>
  <span class="material-icons icon-header" (click)="redirectToProfile()">
    account_circle
  </span>
</header>
<main *ngIf="isLoaded">
  <menu>

    <user-choice-modal *ngIf="showChoiceModal" [modalData]="choiceModalData"
      (buttonClicked)="onChoiceModalResponse($event)">
    </user-choice-modal>


    <div *ngIf="!isPerson; else elseBlock">
      <h2>escolha uma categoria para cadastrar doações:</h2>
    </div>
    <ng-template #elseBlock>
      <h2>escolha uma categoria para consultar doações:</h2>
    </ng-template>


    <button class="card" *ngFor="let item of categoriesItems" (click)="redirectToProductsListView($event)">
      <img class="card-img-top" src="{{getImgUrl(item.name)}}" alt="{{item.name}}" id="{{item.id}}">
      <p class="card-title linkCategories" href="" id="{{item.id}}">{{item.name}}</p>
    </button>
  </menu>

</main>