.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_component {
  height: 87vh;
}

mat-toolbar {
  background: #6a8d4a;
  color: white;
  display: flex;
  justify-content: space-between;
}
