<div class="box-about">
    <img
      class="img-fluid"
      src="../../../../assets/images/others/step_two.png"
      alt=""
    />
  <p>
    Para tanto, apresentamos uma solução, inicialmente, no formato de aplicativo mobile, para intermediar as doações de alimentos de centros de produção, mercados, pequenas empresas e pessoas comuns que possam doar para ONGs e pessoas necessitadas, contribuindo assim para  diminuir o desperdício de alimentos e ajudar quem tanto precisa.   </p>
  <div *ngIf="!(authService.hasAuth$ | async)" class="box-button">
    <button routerLink="/auth/step-one" mat-raised-button>
      <span>VOLTAR</span>
    </button>

    <button routerLink="/auth/step-three" mat-raised-button>
      <span>AVANÇAR</span>
    </button>
  </div>
</div>
