<div class="box">
    <h3 class="title">Redefinição de senha</h3>
    <h6 class="subtitle">Digite seu endereço de e-mail e enviaremos instruções sobre como redefinir sua senha.</h6>
    <form>
      <div class="form-group has-error">
        <label for="email">Email</label>
        <input
          autocomplete="off"
          placeholder="Digite o email..."
          type="email"
          class="form-control"
          id="email"
          aria-describedby="email"
        />
        <div class="invalid-feedback">Please, provide a valid email adress.</div>
      </div>
      
  
      <div class="box-buttons">
        <button type="submit" mat-raised-button>ENVIAR</button>
        <div class="box-buttons-links">
          <a routerLink="/auth/login">CANCELAR</a>
        </div>
      </div>
    </form>
  
  </div>
  