<div class="container">
  <h5 class="title">Produtos</h5>
  <div class="body_component">
      <div class="input-group mt-5">
          <input type="text" class="form-control search" placeholder="Pesquise aqui um produto..." aria-label="Username" aria-describedby="basic-addon1">
        </div>
  </div>
  <div class="list-group mt-5">
    <div class="container mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Produto</h5>
        <small><mat-icon class="example-tab-icon">chat</mat-icon>
        </small>
      </div>
      <p class="mb-1">Descrição Produto</p>
    </div>
    <hr>
    <div class="container mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Produto</h5>
        <small><mat-icon class="example-tab-icon">chat</mat-icon>
        </small>
      </div>
      <p class="mb-1">Descrição Produto</p>
    </div>
    <hr>
    <div class="container mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Produto</h5>
        <small><mat-icon class="example-tab-icon">chat</mat-icon>
        </small>
      </div>
      <p class="mb-1">Descrição Produto</p>
    </div>
    <hr>
    <div class="container mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Produto</h5>
        <small><mat-icon class="example-tab-icon">chat</mat-icon>
        </small>
      </div>
      <p class="mb-1">Descrição Produto</p>
    </div>
    <hr>
    <div class="container mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Produto</h5>
        <small><mat-icon class="example-tab-icon">chat</mat-icon>
        </small>
      </div>
      <p class="mb-1">Descrição Produto</p>
    </div>
  </div>
</div>