// breakpoint
$xs: "575px";
$sm: "767px";
$md: "991px";
$lg: "1200px";

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 30px;

  &-logo {
    margin-top: -15px;
  }

  &-shop {
    margin-top: -70px;
  }

  @media (max-width: $sm) {
    &-logo {
      width: 415px;
    }

    &-shop {
    }
  }

  @media (min-width: $sm) {
    &-logo {
      width: 800px;
    }

    &-shop {
      width: 600px;
    }
  }

  &-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    button {
      background-color: #6a8d4a;
      border-radius: 20px;
      color: white;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      margin-top: 25px;
    }

    a.login {
      color: #d6a620;
    }

    a.about {
      color: #6a8d4a;
    }
  }
}
