<div class="box">
  <img
    class="box-logo img-fluid"
    src="../../../../assets/images/logo/WeFeed_Logo_Principal(sem brackground).png"
    alt=""
  />
  <img
    class="box-shop img-fluid"
    src="../../../assets/images/others/shopping.png"
    alt=""
  />

  <div class="box-buttons">
    <button routerLink="register" mat-raised-button>INSCREVER-SE</button>
    <a class="login" routerLink="login">JÁ POSSUI UMA CONTA?</a>

    <a routerLink="about" class="about">SOBRE NÓS</a>
  </div>
</div>
