<div class="box-about">
    <img
      class="img-fluid"
      src="../../../../assets/images/others/step_one.png"
      alt=""
    />
  <p>
    <strong>Nossa missão</strong>  
    é de proporcionar a melhor experiência ao usuario do nosso app, oferecendo a oportunidade da troca ágil e segura, garantindo que mais pessoas possam ter uma alimentação digna em sua mesa, ajustando às necessidades de cada pessoa,  tanto de quem precisa quanto de quem pode doar.
  </p>

  <p>
    <strong>Nossa visão</strong> 
    é de nos tornar referência de app que mais ajuda a diminuir a fome.
  </p>

  <p>
    <strong>Nossos valores</strong> 
    abrangem confiança, ética, comprometimento, qualidade e ajuda ao próximo.
  </p>
    

    <div *ngIf="!(authService.hasAuth$ | async)" class="box-button">
    <button routerLink="/auth/login" mat-raised-button>
      <span>PULAR</span>
    </button>

    <button routerLink="/auth/step-two" mat-raised-button>
      <span>AVANÇAR</span>
    </button>
  </div>
</div>
