<app-header 
    title="{{productListParams.name}}" 
    backButton="true"
    [addButton]="!isPerson"
    (buttonClicked)="onHeaderButtonClick($event)">
</app-header>

<main>
    <div class="input-group mb-4">
        <input type="text" class="form-control search" placeholder="Pesquise aqui um produto..." maxlength="28">
    </div>
    
    <div id="isLoaded">
        <products-list-item
        *ngFor="let item of productsList"
        [productData]="item"
        ></products-list-item>
    </div>

</main>
