/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackSuccess {
  background-color: #6a8d4a;
  color: white;
  font-size: 18px;
}

.snackError {
  background-color: #c24d4d;
  color: white;
  font-size: 18px;
}
