<header>
    <span class="material-icons"
    (click)="onHeaderButtonClick()">
        arrow_back
        </span>
</header>

<main>


    <div class="box-logo" routerLink="">
        <img
          class="img-fluid"
          src="../../../../assets/images/logo/logo.png"
          alt=""
        />
      </div>

      <h2>Olá, {{ user.name }}</h2>
      <p>essas são suas informações cadastradas conosco:</p>

    <div id="user">
        <span id="user-properties">
            <p>Perfil : </p>
            <p> {{ getUserProfile() }}</p>
        </span>
        <span id="user-properties">
            <p>Email:</p>
            <p> {{user.email}}</p>
        </span>
        <span id="user-properties">
            <p>Endereço: </p>
            <p> {{user.address}}</p>
        </span>
        <span id="user-properties">
            <p>Telefone : </p>
            <p> {{ putPhoneMask(user.telephone)}}</p>
        </span>
    </div>
</main>