header {
    padding: 1rem;
}

main {
    padding: 1rem;
}

.box-logo {
    display: flex;
    justify-content: center;

    img {
      width: 500px;
      padding-right: 1rem;
    }
  }

div#user{
    display: inline-grid;
    margin-top: 1rem
}

#user-properties{
    display: inline-flex;
    font-size: 1.2rem;
    &>p{
        margin: 0;
    }
    &>p:last-child{
        padding-left: 0.5rem;
        font-weight: 500
    }
}